body {
    overflow: hidden;
}
#MainSection {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: rgba(0, 0, 0, 1);
}
.windowsContainer {
    display: grid;
    grid-template-columns: 400px 200px 400px;
    grid-gap: 30px;
    grid-auto-rows: 400px;
}
.controlPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .convSelect {
        width: 115px;
        height: 35px;
        margin: 7px;
    }
    .convButtons {
        display: flex;
        flex-direction: column;
        margin: 30px;

        .convButton {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 35px;
            margin: 15px 0;
            padding: 0 10px;
            background: crimson;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: background linear 0.1s;

            svg {
                
                path {
                    fill: white;
                }
            }

            &:hover {
                background: rgba(220, 20, 60, 0.8);
            }
        }

        .leftConvButton {
            padding-right: 15px;

            svg {
                position: relative;
                left: 5px;
            }
        }

        .rightConvButton {
            padding-left: 15px;

            svg {
                position: relative;
                right: 5px;
            }
        }
    }
}
.textData {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    padding: 5px;
    resize: none;
}

@media screen and (min-width: 0px) and (max-width: 1179px) {
    .windowsContainer {
        grid-template-columns: 300px 150px 300px;
    }
}

@media screen and (min-width: 0px) and (max-width: 869px) {
    #MainSection {
        align-items: flex-start;
        overflow-y: scroll;
    }
    .windowsContainer {
        padding-top: 30px;
        grid-template-columns: 400px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 0px) and (max-width: 459px) {
    .windowsContainer {
        grid-template-columns: 240px;
    }
}

